body{
    padding-left: 50px;
}
img{
    width: 20px;
    height: 20px;
}
.concat-me a i{
    font-size: 20px;
}
.icon a{
    font-size: 25px;
    text-decoration-line:none ;
}
.location{
    padding-left: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.map{
    border-radius: 50%;
}
.table table{
    border-collapse: collapse;
    width: 80%;
    
}
th ,td{
padding: 8px;
text-align: center;
border: 1px solid #dee2e6;
}
thead tr{
    background-color:#d4d3d3;
}
tbody tr:nth-child(odd){
    background-color:#eeeded;
}
.inline{ 
    display: flex;
    align-items: center;
}
.line{
    display: flex;
    align-items: center;
    padding-bottom: 2px;

}
